# Configurer les pages d'erreur personnalisées StudyVibe
ErrorDocument 404 /404.php
ErrorDocument 403 /error.php?code=403&title=Acc%C3%A8s+Interdit&message=Vous+n%27avez+pas+l%27autorisation+d%27acc%C3%A8der+%C3%A0+cette+ressource.&badge=Acc%C3%A8s+Interdit
ErrorDocument 500 /error.php?code=500&title=Erreur+Syst%C3%A8me&message=Une+erreur+interne+du+serveur+est+survenue.+Veuillez+r%C3%A9essayer+ult%C3%A9rieurement.&badge=Alerte
